.text-red {
    color: rgb(22, 20, 20);
}
.ortala {
    margin-left: 30%;
    margin-right:30%;
  }
.yanyaana-diz{
    float: left;
}
h1{color:rgb(24, 101, 115); 
    font-size: 30px;
    float: left;
    }
    p{color: rgb(34, 26, 26);
        font-size: 25;

    } 
body {
    background-color: rgb(236, 228, 224);
    margin: 0;
}
.container {
    width: 1000px;
    float:left;
    margin-left: auto;
    margin-right: auto;
}
.left-bar{
    width:200px;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

.content{
    width: 800px;
}

.clearfix{
    clear: both;
}
.boxes {
    width: 200px;
    height: 500px;
    padding: 10px;
 /* margin-top: 10px;
    margin-left: 10px;
    
    margin-bottom: 10px ;*/
    float: left; 
margin-right: 50px;

}
.bgyellow{
background-color: yellow;
}
    
.bgviolet{
    background-color: rgb(195, 171, 218);
}
.bggreen{
    background-color: rgb(152, 235, 180);
}
.images-size{
    width: 300px;
    height: auto;
}
